.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 100px auto;
  gap: 16px;
}

.avatar {
  display: flex;
  justify-content: space-around;
}

.avatarPreview {
  display: flex;
  align-items: center;
  justify-content: center;
}
